<div class="container-fluid m-top">
  <div class="row">
    <div class="col-12 box p-0" *ngFor="let item of singleItem">
      <div class="row">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
          <div class="image-section" *ngIf="images.length > 0">
            <img [src]="images[0]" alt="{{ item.name }}" />
          </div>

          <div class="row mt-3">
            <div class="col-12 img-container">
              <div class="img-box" *ngFor="let image of images.slice(1, 6)" (click)="changeimage(image)">
                <img [src]="image" alt="Product Image">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-md-6 col-sm-12 desc-section">
          <h1>{{ item.name }}</h1>
          <p>{{ item.description }}</p>
          <p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            ({{ item.reviewsCount }})
          </p>
          <hr />
          <h2>&dollar;{{ item.price }}</h2>
          <!-- <p>Suggested payments with 6 months special finacing</p> -->
          <hr />
          <div class="colors">
            <h3>Choose a Color</h3>
            <div class="color-options">
              <span class="color-circle" style="background-color: #e32636"></span>
              <span class="color-circle" style="background-color: #2d2d2d"></span>
              <span class="color-circle" style="background-color: #d3d3d3"></span>
              <span class="color-circle" style="background-color: #b0c4de"></span>
              <span class="color-circle" style="background-color: #6a5acd"></span>
            </div>
          </div>
          <hr />

          <div class="d-flex align-items-center gap-3">
            <div class="quantity-selector">
              <button class="minus" type="button" (click)="decrement()">-</button>
              <input type="number" [value]="quantity" min="1" max="12" class="my-input" readonly />
              <button class="plus" type="button" (click)="increment()">+</button>
            </div>

            <div class="stock">
              <p class="m-0">Only <span>12 Items</span> Left!</p>
              <p class="m-0">Don't miss it</p>
            </div>
          </div>

          <div class="purchase-buttons mt-4">
            <button class="buy-now" type="button" (click)="buyNow()">Buy Now</button>
            <button class="add-to-cart" type="button" (click)="addToCart()">Add to Cart</button>
          </div>

          <div class="all-info">
            <div class="delivery-info">
              <div>
                <i class="bi bi-truck"></i>
                <span>Free Delivery</span>
              </div>
              <p>
                <a routerLink="#">Enter your Postal code for Delivery Availability</a>
              </p>
            </div>
            <hr />
            <div class="return-info">
              <div>
                <i class="bi bi-recycle"></i>
                <span>Return Delivery</span>
              </div>
              <p>Free 30days Delivery Returns. <a routerLink="#">Details</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>