<div class="container-fluid m-top">
  <div *ngIf="cartItemsList.length; else emptyCart">
      <div class="box d-flex gap-3 mb-4" *ngFor="let cartItem of cartItemsList">
        <div class="img-section">
          <img [src]="cartItem.image" alt="{{ cartItem.name }}" />
        </div>
        <div class="detail-section">
          <h2>{{ cartItem.name }}</h2>
          <p>{{ cartItem.description }}</p>
          <p class="price">&dollar;{{ cartItem.price }}</p>
          <div class="remove" (click)="removeCartItem(cartItem.productId)">
            Remove
          </div>
        </div>
        <!-- <hr> -->
      </div> 
  </div>

  <ng-template #emptyCart>
    <div class="empty-cart">
        <i class="bi bi-cart-dash"></i>
        <h2>Your cart is empty!</h2>
        <button routerLink="" class="empty-cart-button">Shop now</button>
    </div>
  </ng-template>
  
  <!-- place-order -->
  <div class="row">
    <div class="col-12 place-order" *ngIf="cartItemsList.length">
      <button type="button" (click)="placeOrder()">Place order</button>
    </div>
  </div>
  
</div>
