/* * {
  margin: 0;
  padding: 0;
} */

/* .container-fluid {
  position: relative;
  top: 5rem;
  width: 100%;
  height: 100%;
} */

/* .box {
  height: 11rem;
  width: 100%;
  margin-bottom: 1.5rem;
} */

.m-top {
  margin-top: 90px;
}

.img-section {
  mix-blend-mode: multiply;
}

.img-section img {
  height: 11rem;
  width: 11rem;
  padding: 20px;
  background-color: rgb(245, 245, 245, 0.8);
  mix-blend-mode: multiply;
}

hr {
  position: relative;
  top: 0.7rem;
}

/* .detail-section {
  width: 40%;
  position: relative;
  top: -10rem;
  left: 12rem;
} */

.detail-section h2 {
  font-size: 25px;
}

.detail-section p {
  font-size: 12px;
  margin-top: 2px;
}

.detail-section .price {
  font-weight: 700;
  font-size: 15px;
  margin-top: 5px;
}

.remove {
  width: 4.3rem;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 25px;
  cursor: pointer;
  margin-top: 7px;
}

.remove:hover {
  color: red;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-cart .bi-cart-dash {
  font-size: 8rem;
}

.empty-cart h2 {
  font-size: 30px;
  margin: 0;
  line-height: 0;
}

.empty-cart button {
  padding: 0.3rem 2rem;
  margin-top: 2rem;
  background-color: rgb(0, 0, 171);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.empty-cart button:hover {
  transform: translateY(1px);
}

.place-order {
  display: flex;
  justify-content: end;
  align-items: center;
  background: aliceblue;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.place-order button {
  background-color: #ff9800;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
}

.place-order-alert {
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.check-mark {
  width: 6rem;
  height: 6rem;
  margin: 20px auto;
  border-radius: 50%;
  background-color: rgba(117, 227, 117, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-check {
  font-size: 50px;
  color: white;
  font-weight: 600;
}

.place-order-alert h2 {
  font-size: 23px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.place-order-alert p {
  text-align: center;
  font-size: 14px;
  /* padding-top: 12px; */
  font-family: sans-serif;
}

.place-order-alert button {
  padding: 10px 30px;
  font-size: 12px;
  border-radius: 20px;
  background-color: #fc8427;
  color: white;
  border: none;
  margin-bottom: 20px;
}

.place-order-alert button:hover {
  transform: translateY(1px);
  box-shadow: 0.4px 0.8px rgba(0, 0, 0, 0.3);
}

/*--------- Media Quries for Responsiveness --------------*/
/* 
@media (max-width: 480px) {
  .box {
    height: 11rem;
  }
  
  .detail-section {
    width: 40%;
    position: relative;
    top: -11rem;
    left: 12rem;
  }
  
  .detail-section h2 {
    font-size: 19px;
  }
  
  .detail-section p {
    font-size: 9px;
    margin-top: 2px;
  }
  
  .place-order-alert {
    width: 17rem;
    height: 24rem;
    position: fixed;
    top: 11rem;
    left: -14rem;
  }
  
  .check-mark {
    width: 5rem;
    height: 5rem;
    margin: 3rem 6rem;
  }
  
  .place-order-alert h2 {
    font-size: 16px;
    margin-top: -1.5rem;
  }
  
  .place-order-alert p {
    text-align: center;
    font-size: 9px;
  }
  
  .place-order-alert button {
    margin: 2rem 3.5rem;
  }
  
  .place-order-alert button:hover {
    transform: translateY(1px);
    box-shadow: 0.4px 0.8px rgba(0, 0, 0, 0.3);
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  .box {
    height: 12rem;
  }

  hr {
    position: relative;
    top: 1rem;
  }
  
  .detail-section {
    width: 50%;
    position: relative;
    top: -11rem;
    left: 12rem;
  }
  
  .detail-section h2 {
    font-size: 20px;
  }
  
  .detail-section p {
    font-size: 10px;
    margin-top: 3px;
  }

  .place-order {
    position: relative;
    top: 73px;
  }
  
  .place-order-alert {
    width: 20rem;
    height: 25rem;
    position: fixed;
    top: 17rem;
    left: -4.2rem;
  }
  
  .check-mark {
    width: 5rem;
    height: 5rem;
    margin: 3rem 7rem;
  }
  
  .place-order-alert h2 {
    font-size: 19px;
    margin-top: -1.5rem;
  }
  
  .place-order-alert p {
    text-align: center;
    font-size: 10px;
  }
  
  .place-order-alert button {
    margin: 2rem 5rem;
  }
  
  .place-order-alert button:hover {
    transform: translateY(1px);
    box-shadow: 0.4px 0.8px rgba(0, 0, 0, 0.3);
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .box {
    height: 13rem;
  }

  .img-section img {
    height: 12rem;
    width: 12rem;
    padding: 2rem;
    background-color: rgb(245, 245, 245, 0.8);
    mix-blend-mode: multiply;
  }

  hr {
    position: relative;
    top: 1.3rem;
  }
  
  .detail-section {
    width: 50%;
    position: relative;
    top: -12rem;
    left: 14rem;
  }
  
  .detail-section h2 {
    font-size: 24px;
  }
  
  .detail-section p {
    font-size: 12px;
    margin-top: 3px;
  }

  .place-order {
    position: relative;
    top: 82px;
  }
  
  .place-order-alert {
    position: fixed;
    top: 17rem;
    left: 3.5rem;
    width: 22rem;
    height: 27rem;
  }
  
  .check-mark {
    width: 5rem;
    height: 5rem;
    margin: 3rem 8rem;
  }
  
  .place-order-alert h2 {
    font-size: 21px;
    margin-top: -1.5rem;
  }
  
  .place-order-alert p {
    text-align: center;
    font-size: 12px;
  }
  
  .place-order-alert button {
    margin: 2rem 6rem;
  }
  
  .place-order-alert button:hover {
    transform: translateY(1px);
    box-shadow: 0.4px 0.8px rgba(0, 0, 0, 0.3);
  }
} */
