* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  position: relative;
  top: 5rem;
  width: 100%;
  height: 100%;
}

.box {
  height: 11rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-section {
  mix-blend-mode: multiply;
}

.img-section img {
  height: 11rem;
  width: 11rem;
  padding: 1rem;
  background-color: rgb(245, 245, 245, 0.8);
  mix-blend-mode: multiply;
}

hr {
  position: relative;
  top: 0.7rem;
}

.detail-section {
  width: 40%;
  position: relative;
  top: -10rem;
  left: 12rem;
}

.detail-section h2 {
  font-size: 25px;
}

.detail-section p {
  font-size: 12px;
  margin-top: 2px;
}

.detail-section .price {
  font-weight: 700;
  font-size: 15px;
  margin-top: 5px;
}

.remove {
  width: 4.3rem;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 25px;
  cursor: pointer;
  margin-top: 7px;
}

.remove:hover {
  color: red;
}

.empty-cart {
  text-align: center;
}

.empty-cart .bi-cart-dash {
  font-size: 8rem;
  text-align: center;
}

.empty-cart h2 {
  font-size: 30px;
  margin-top: -1rem;
}

.empty-cart button {
  padding: 0.3rem 2rem;
  margin-top: 1rem;
  background-color: rgb(0, 0, 171);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.empty-cart button:hover {
  transform: translateY(1px);
}

.place-order {
  height: 4rem;
  width: 100%;
  text-align: right;
  background-color: aliceblue;
  position: relative;
  top: 86px;
}

.place-order button {
    padding: 0.4rem 2rem;
    background-color: #ff9800;;
    color: black;
    font-weight: 630;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    position: relative;
    top: 13px;
    right: 12px;
}
