
.btn {
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 20px;
  background: rgba(25, 74, 25, 0.925);
  color: white;
  text-align: center;
  border: none;
  font-weight: 400;
}

.btn:hover {
  background: rgba(25, 74, 25, 0.925);
  color: white;
  border: none;
  transform: translateY(1px);
  box-shadow: 0.4px 0.8px rgba(0, 0, 0, 0.3);
}

/*--------------------------------- Filters --------------------------*/

.filter button {
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e9e9e996;
  color: rgb(49, 49, 49);
  border: none;
  padding: 10px 30px;
}

.filter button:hover {
  background-color: rgb(2, 44, 2);
  color: rgb(255, 251, 251);
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

.card {
  border-radius: 14px;
}

.img-section {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.card-img-top {
  height: 80%;
  width: 80%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

.desc1 {
  font-size: 12px;
  font-weight: 400;
}
