* {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 5rem;
}

.header-content {
  height: 15rem;
  background-color: rgba(251, 226, 215, 0.7);
}

img {
  width: 15rem;
  mix-blend-mode: multiply;
  position: relative;
  left: 90px;
  top: 0rem;
}

h2 {
  margin: 3rem 5rem;
  font-weight: 700;
  color: rgba(25, 74, 25, 0.925);
}

.btn {
  width: 6rem;
  height: 2.5rem;
  font-size: 13px;
  margin-top: -2.5rem;
  margin-left: 5rem;
  border-radius: 3rem;
  background: rgba(25, 74, 25, 0.925);
  color: white;
  text-align: center;
  border: none;
  font-weight: 400;
}

.btn:hover {
  background: rgba(25, 74, 25, 0.925);
  color: white;
  border: none;
  transform: translateY(1px);
  box-shadow: 0.4px 0.8px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 22px;
  margin-top: 1.5rem;
  font-weight: 700;
}

.box-container {
  display: block;
  height: auto;
  /* border: 1px solid green; */
}

.box {
  display: block;
  margin-top: 2rem;
  /* border: 1px solid red; */
}

.card {
  width: 18rem;
  height: 16rem;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.588);
}

.card img {
  mix-blend-mode: darken;
  height: 14rem;
  width: auto;
  margin-top: 1rem;
  margin-left: -11.5rem;
}

h6 {
  font-size: 15px;
  margin: 7px 0;
}

.fa-star {
  color: green;
}

.desc {
  display: block;
  /* border: 1px solid red; */
  width: 18rem;
  height: auto;
  overflow: hidden;
}

.desc1 {
  height: 2rem;
  overflow: hidden;
}

.desc span {
  font-weight: 700;
  font-size: 14px;
  position: relative;
  top: -1.8rem;
  left: 14.3rem;
}

.desc p {
  font-size: 10px;
  position: relative;
  top: -1.8rem;
  margin-bottom: 0.2rem;
}

.desc button {
  border-radius: 15px;
  width: 6rem;
  height: 1.8rem;
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(255, 251, 251);
  border: 1.2px solid black;
  margin-top: 0.5rem;
}

.desc button:hover {
  background-color: rgb(2, 44, 2);
  color: rgb(255, 251, 251);
  border: 1.2px solid rgb(2, 44, 2);
}

/*--------------------------------- Filters --------------------------*/
.filter {
  margin-top: 1.5rem;
}

.filter button {
  border-radius: 25px;
  height: 2rem;
  font-size: 13px;
  font-weight: 700;
  background-color: #e9e9e996;
  color: rgb(49, 49, 49);
  border: none;
  margin-right: 1.3rem;
  text-align: center;
}

.filter button:hover {
  background-color: rgb(2, 44, 2);
  color: rgb(255, 251, 251);
  border: 1.2px solid rgb(2, 44, 2);
}

.price {
  width: 80px;
}

.review {
  width: 85px;
}

/*--------- Media Quries for Responsiveness --------------*/
/* Small devices (phone, 480px and down ) */
@media (max-width: 480px) {
  .header-content {
    max-height: 8rem;
    width: 28rem;
    background-color: rgba(251, 226, 215, 0.7);
  }

  img {
    max-width: 8rem;
    max-height: 8rem;
    mix-blend-mode: multiply;
    position: relative;
    left: 30px;
    top: 0rem;
  }

  h2 {
    width: 12rem;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: -1.5rem;
    left: -3rem;
  }

  .btn {
    max-width: 6rem;
    max-height: 2rem;
    text-align: center;
    border: none;
    position: relative;
    top: -2.2rem;
    left: -2.2rem;
  }

  
  .filter {
    margin-top: 1rem;
  }

  .filter button {
    width: 4.2rem;
    min-height: 1.8rem;
    margin-right: 0.9rem;
  }


  h3 {
    width: 30rem;
    font-size: 18px;
    position: relative;
    top: -0.8rem;
  }

  .box-container {
    height: auto;
  }

  .box {
    display: flex;
    margin-top: 0.5rem;
    min-width: 28rem;
  }

  .card {
    width: 14rem;
    max-height: 11rem;
  }

  .card img {
    height: 7rem;
    margin-top: 2rem;
    margin-left: -3rem;
  }

  .desc {
    display: block;
    max-width: 16rem;
    height: auto;
    overflow: hidden;
    padding-left: 1rem;
  }

  h6 {
    font-size: 18px;
    text-align: left;
    margin: 7px 0;
  }

  .desc span {
    font-size: 14px;
    position: relative;
    top: 3rem;
    left: 0rem;
  }

  .desc p {
    position: relative;
    top: -1.5rem;
    margin-bottom: 0.2rem;
  }

  p button {
    position: relative;
    top: 1rem;
  }
}

/* medium devices (tab, 768px and down ) */
@media (min-width: 481px) and (max-width: 768px) {
  .header-content {
    margin-top: 1rem;
    max-height: 12rem;
    width: 44rem;
    background-color: rgba(251, 226, 215, 0.7);
  }

  img {
    max-width: 12rem;
    max-height: 12rem;
    mix-blend-mode: multiply;
    position: relative;
    top: 0rem;
  }

  h2 {
    width: 16rem;
    font-size: 22px;
    text-align: center;
    position: relative;
    top: -0.8rem;
    left: 0;
  }  

  .btn {
    max-width: 6rem;
    max-height: 2.3rem;
    text-align: center;
    border: none;
    position: relative;
    top: -1.2rem;
    left: 1.8rem;
  }

  .filter {
    margin-top: 1rem;
  }

  .filter button {
    max-height: 1.8rem;
    margin-right: 0.9rem;
    width: 4.8rem;
  }


  h3 {
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 700;
  }

  .box-container {
    max-width: 45rem;
    height: auto;
  }

  .box {
    display: flex;
    margin-top: 1rem;
    min-width: 45rem;
    column-gap: 0.8rem;
  }

  .card {
    width: 25rem;
    max-height: 14rem;
  }

  .card img {
    max-height: 11rem;
    margin-top: 1.5rem;
    margin-left: -11rem;
  }

  .desc {
    display: block;
    max-width: 17rem;
    height: auto;
    overflow: hidden;
    margin-right: 1.2rem;
  }

  h6 {
    font-size: 20px;
    margin: 7px 0;
  }

  .desc span {
    font-size: 14px;
    position: relative;
    top: 3rem;
    left: 0;
  }

  .desc p {
    position: relative;
    top: -1.5rem;
    margin-bottom: 0.2rem;
  }

  p button {
    position: relative;
    top: 1.2rem;
  }   
} 

/* small screen laptop (laptop, 1024px and down ) */
@media (min-width: 769px) and (max-width: 1024px) {
  .header-content {
    margin-top: 1rem;
    max-height: 12rem;
    width: 60rem;
    background-color: rgba(251, 226, 215, 0.7);
  }

  img {
    max-width: 12rem;
    max-height: 12rem;
    mix-blend-mode: multiply;
    position: relative;
    top: 0rem;
  }

  h2 {
    width: 16rem;
    font-size: 22px;
    text-align: center;
    position: relative;
    top: -0.8rem;
    left: 0;
  }  

  .btn {
    max-width: 6rem;
    max-height: 2.3rem;
    text-align: center;
    border: none;
    position: relative;
    top: -1.2rem;
    left: 1.8rem;
  }

  .filter {
    margin-top: 1rem;
  }

  .filter button {
    max-height: 1.8rem;
    margin-right: 0.9rem;
    width: 5rem;
  }

  h3 {
    font-size: 21px;
    margin-top: 1rem;
    font-weight: 700;
  }

  .box-container {
    width: 61rem;
    height: auto;
  }

  .box {
    display: block;
    margin: 1rem 2.2rem 1rem 0rem;
    width: 18rem;
  }

  .card {
    width: 19rem;
    max-height: 14rem;
  }

  .card img {
    max-height: 11rem;
    margin-top: 1.5rem;
    margin-left: -11rem;
  }

  .desc {
    display: block;
    width: 19rem;
    height: auto;
    overflow: hidden;
  }

  h6 {
    font-size: 18px;
    margin: 7px 0;
  }

  .desc span {
    font-size: 14px;
    position: relative;
    top: 3rem;
    left: 0;
  }

  .desc p {
    position: relative;
    top: -1.5rem;
    margin-bottom: 0.2rem;
  }

  p button {
    position: relative;
    top: 1.2rem;
  } 
}
