<header>
  <div class="header-content">
    <div class="row">
      <div class="col-6">
        <h2>Grab Upto 50% Off On <br> Selected Headphone</h2>
        <button class="btn">Buy Now</button>
      </div>
      <div class="col-6">
        <img src="header-img.png" alt="headphone" />
      </div>
    </div>
  </div>
</header>

<h3>Headphones For You!</h3>

<div class="box-container">
  <div class="row">
    <div class="box col-3" *ngFor="let product of getAllProduct">
      <div class="card" (click)="onItemClick(product.id)">
        <img
          [src]="product.images[0]"
          class="card-img-top"
          alt="{{ product.category }}"
        />
      </div>
      <div class="desc">
        <h6>{{ product.name }}</h6>
        <span>&dollar; {{ product.price }}</span>
        <p>{{ product.description }}</p>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          ({{ product.reviewsCount }})
        </p>
        <p>
          <button>Add to Cart</button>
        </p>
      </div>
    </div>
  </div>
</div>


<!-- <div class="box-container">
  <div class="box col-3">
    <div class="card" >
      <img src="airpods.jpg" class="card-img-top" alt="airpods" />
    </div>
    <div class="desc">
        <h6>Airpods Pro(2nd gen)</h6>
        <span>&dollar; 289.00</span>
        <p>Active Noise Canclation</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="sony.png" class="card-img-top" alt="headphone" />
    </div>
    <div class="desc">
        <h6>Sony WH-100XM5</h6>
        <span>&dollar; 259.00</span>
        <p>Wireless, Active Noise Canclation</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="samsung-earbuds.jpg" class="card-img-top" alt="earbuds" />
    </div>
    <div class="desc">
        <h6>Galaxy Buds2 Pro</h6>
        <span>&dollar; 139.30</span>
        <p>24bit Hi-Fi sounds for quality listening experience.</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="boat.png" class="card-img-top" alt="headphone" />
    </div>
    <div class="desc">
        <h6>boAt Rockerz 450</h6>
        <span>&dollar; 120.59</span>
        <p>Over Ear Bluetooth Headphones</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>
</div>

<div class="box-container">
  <div class="box col-3">
    <div class="card" >
      <img src="oneplus.png" class="card-img-top" alt="wire earphone" />
    </div>
    <div class="desc">
        <h6>OnePlus Type-C Bullets</h6>
        <span>&dollar; 99.20</span>
        <p>Wire Earphones With Mic </p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="gamming.webp" class="card-img-top" alt="headphone" />
    </div>
    <div class="desc">
        <h6>Gamming Headset</h6>
        <span>&dollar; 199.50</span>
        <p>Active Noise Canclation, Wireless & High Base</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="airpods-3g.jpg" class="card-img-top" alt="airpods" />
    </div>
    <div class="desc">
        <h6>Airpods (3rd generation)</h6>
        <span>&dollar; 269.50</span>
        <p>Airpods With Magsafe Charging</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="jbl.jpg" class="card-img-top" alt="headphone" />
    </div>
    <div class="desc">
        <h6>JBL Tune 510BT</h6>
        <span>&dollar; 196.29</span>
        <p>Wireless On-ear Headphones with Purebase</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>
</div>




<div class="box-container">
  <div class="box col-3">
    <div class="card" >
      <img src="airpods.jpg" class="card-img-top" alt="airpods" />
    </div>
    <div class="desc">
        <h6>Airpods Pro(2nd gen)</h6>
        <span>&dollar; 289.00</span>
        <p>Active Noise Canclation</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="sony.png" class="card-img-top" alt="headphone" />
    </div>
    <div class="desc">
        <h6>Sony WH-100XM5</h6>
        <span>&dollar; 259.00</span>
        <p>Wireless, Active Noise Canclation</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="samsung-earbuds.jpg" class="card-img-top" alt="earbuds" />
    </div>
    <div class="desc">
        <h6>Galaxy Buds2 Pro</h6>
        <span>&dollar; 139.30</span>
        <p>24bit Hi-Fi sounds for quality listening experience.</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="boat.png" class="card-img-top" alt="headphone" />
    </div>
    <div class="desc">
        <h6>boAt Rockerz 450</h6>
        <span>&dollar; 120.59</span>
        <p>Over Ear Bluetooth Headphones</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>
</div>

<div class="box-container">
  <div class="box col-3">
    <div class="card" >
      <img src="oneplus.png" class="card-img-top" alt="wire earphone" />
    </div>
    <div class="desc">
        <h6>OnePlus Type-C Bullets</h6>
        <span>&dollar; 99.20</span>
        <p>Wire Earphones With Mic </p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="gamming.webp" class="card-img-top" alt="headphone" />
    </div>
    <div class="desc">
        <h6>Gamming Headset</h6>
        <span>&dollar; 199.50</span>
        <p>Active Noise Canclation, Wireless & High Base</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="airpods-3g.jpg" class="card-img-top" alt="airpods" />
    </div>
    <div class="desc">
        <h6>Airpods (3rd generation)</h6>
        <span>&dollar; 269.50</span>
        <p>Airpods With Magsafe Charging</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>

  <div class="box col-3">
    <div class="card" >
      <img src="jbl.jpg" class="card-img-top" alt="headphone" />
    </div>
    <div class="desc">
        <h6>JBL Tune 510BT</h6>
        <span>&dollar; 196.29</span>
        <p>Wireless On-ear Headphones with Purebase</p>
        <p>
          <button>Add to Cart</button>
        </p>
    </div>
  </div>
</div> -->
