<header>
  <div class="header-content">
    <div class="row">
      <div class="col-6">
        <h2>Grab Upto 50% Off On Selected Headphone</h2>
        <button class="btn">Buy Now</button>
      </div>
      <div class="col-6">
        <img src="header-img.png" alt="headphone" />
      </div>
    </div>
  </div>
</header>

<div class="filter">
  <button class="price" type="button" (click)="applyPriceFilter()">Price</button>
  <button class="review" type="button" (click)="applyReviewFilter()">Review</button>
</div>

<h3>All Electronic Items For You!</h3>

<div class="box-container">
  <div class="row">
    <div class="box col-3" *ngFor="let product of filteredProducts">
      <div class="card" (click)="onItemClick(product.id)">
        <img
          [src]="product.images[0]"
          class="card-img-top"
          alt="{{ product.category }}"
        />
      </div>
      <div class="desc">
        <h6>{{ product.name }}</h6>
        <span>&dollar; {{ product.price }}</span>
        <p class="desc1">{{ product.description }}</p>
        <p >
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          ({{ product.reviewsCount }})
        </p>
        <p>
          <button (click)="addToCart(product.id)">Add to Cart</button>
        </p>
      </div>
    </div>
  </div>
</div>