.navbar {
  position: fixed;
  width: 96%;
  z-index: 999;
}

.bg-color {
  background-color: rgb(251, 251, 251);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-item {
  font-size: 14px;
  padding-left: 2rem;
  font-weight: 500;
}

form {
  display: flex;
  margin-right: 20rem;
}

.search-group {
  height: 1.9rem;
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 2rem;
  overflow: hidden;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem 0 0 2rem;
  background-color: #f7f7f7;
}

.search-group:hover {
  width: 36rem;
}

.search-btn {
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 2rem 2rem 0;
  background-color: #f7f7f7;
}

.cart {
  cursor: pointer;
}

.fa-cart-shopping {
  font-size: 23px;
}

.cart span {
  margin-left: 10px;
  font-weight: 600;
  position: relative;
  top: -2px;
}
