<nav class="navbar navbar-expand-lg bg-color">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="electronics-items">Shopcart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/laptop">Laptop</a></li>
            <li><a class="dropdown-item"routerLink="/headphones">Headphones</a></li>
            <li><a class="dropdown-item" routerLink="/mobile">Mobile</a></li>
            <li><a class="dropdown-item" routerLink="/watch">Watch</a></li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="!isSearchHovered">
          <a class="nav-link deals" href="#">Deals</a>
        </li>
        <li class="nav-item" *ngIf="!isSearchHovered">
          <a class="nav-link new" href="#">What's New</a>
        </li>

        <li class="nav-item" *ngIf="!isSearchHovered">
          <a class="nav-link delivery">Delivery</a>
        </li>
      </ul>

      <form (submit)="onSearchItems(searchInput.value)">
        <div class="search-group">
          <input
            #searchInput
            class="search-input"
            type="search"
            aria-label="Search"
            placeholder="Search Product"
            (mouseover)="onSearchHover(true)"
            (mouseout)="onSearchHover(false)"
          />
          <button class="search-btn" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>

      <div class="cart" routerLink="cart">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Cart</span>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
