<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row d-flex align-items-center p-3">

        <div class="col-2">
          <a class="brand" routerLink="electronics-items">Shopcart</a>
        </div>

        <div class="col-2 dropdown">
          <button class="btn dropdown-toggle font" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Select categories
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/laptop">Laptop</a></li>
            <li><a class="dropdown-item"routerLink="/headphones">Headphones</a></li>
            <li><a class="dropdown-item" routerLink="/mobile">Mobile</a></li>
            <li><a class="dropdown-item" routerLink="/watch">Watch</a></li>
          </ul>
        </div>
        
        <div class="col-6 d-flex align-items-center justify-content-around">
          <div *ngIf="!isSearchHovered">
            <a class="font" href="#">Deals</a>
          </div>
          <div  *ngIf="!isSearchHovered">
            <a class="font" href="#">What's New</a>
          </div>
    
          <div  *ngIf="!isSearchHovered">
            <a class="font">Delivery</a>
          </div>
    
          <div>
            <form (submit)="onSearchItems(searchInput.value)">
              <div class="search-group" (mouseover)="onSearchHover(true)" (mouseout)="onSearchHover(false)">
                <input
                  #searchInput
                  class="search-input"
                  type="text"
                  aria-label="Search"
                  placeholder="Search Product"
                />
                <button class="search-btn" type="submit">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-2 cart d-flex justify-content-end gap-2" routerLink="cart">
          <div class="count" *ngIf="cartItemCount">{{ cartItemCount }}</div>
          <div>
            <i class="fa-solid fa-cart-shopping" ></i>
          </div>
          <div class="cart-text">Cart</div>
        </div>
      </div>
      
    </div>
  </div>
</div>


<router-outlet></router-outlet>