.brand {
  font-size: 30px;
  font-weight: 500;
  font-family: sans-serif, Roboto;
  text-decoration: none;
  color: #000;
}

.search-group {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 2rem;
  overflow: hidden;
}

.search-group:hover {
  width: 42rem;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem 0 0 2rem;
  background-color: #f7f7f7;
}

.search-btn {
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 2rem 2rem 0;
  background-color: #f7f7f7;
}

.cart {
  cursor: pointer;
}

.fa-cart-shopping {
  font-size: 24px;
}

.cart-text {
  font-size: 16px;
  font-weight: 600;
}

.count {
  position: relative;
  top: -20px;
  left: 26px;
}

.font {
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}
