.place-order-alert {
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.check-mark {
  width: 6rem;
  height: 6rem;
  margin: 20px auto;
  border-radius: 50%;
  background-color: rgba(117, 227, 117, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-check {
  font-size: 50px;
  color: white;
  font-weight: 600;
}

.place-order-alert h2 {
  font-size: 23px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.place-order-alert p {
  text-align: center;
  font-size: 14px;
  /* padding-top: 12px; */
  font-family: sans-serif;
}

.place-order-alert button {
  padding: 10px 30px;
  font-size: 12px;
  border-radius: 20px;
  background-color: #fc8427;
  color: white;
  border: none;
  margin-bottom: 20px;
}

.place-order-alert button:hover {
  transform: translateY(1px);
  box-shadow: 0.4px 0.8px rgba(0, 0, 0, 0.3);
}
