<div class="container-fluid m-top">
    <div class="row">
        <div class="col-12 p-0">

            <div class="header-content mt-2 p-3">
                <div class="row ">
                    <div class="col-6 text-center align-content-center">
                        <h2>Grab Upto 50% Off <br> On Selected Headphone</h2>
                        <button class="btn mt-3">Buy Now</button>
                    </div>
                    <div class="col-6 text-center">
                        <img src="header-img.png" alt="headphone" class="header-content-img" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>